
:root {
   
    --background-color: rgb(32, 81, 142);
    --textColour: white;
	color: var(--textColour);
     background-image: url(https://pbs.twimg.com/ext_tw_video_thumb/1568087722073509888/pu/img/yCtRQjdYq2Oh9GIm.jpg:large)
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    /* max-height: 100dvh; */
    /* overflow: hidden; */
} 

header {
    background-color: rgba(106, 43, 189, 0.634);
	display: flex;
	justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 0);
}


footer {
	background-color: rgb(181, 112, 21);
	padding: 2%;
	text-align: center;
}

/* .moviecard {
}

main.movielist > .moviecard {
} */



main.movielist {
    margin: 1%;
    display: flex;
    gap: 0.2dvw;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    .moviecard {
        border-radius: 1%;
        background-color: var(--background-color);
        width: 30%;
        padding: 0.4%;

        h2,h3,.movieRating {
            text-align: center;
            font-family: 'Trebuchet MS'
        }

        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            text-align: center;

        }
       
        img {
            border-radius: 1%;
            width: 100%;
            aspect-ratio: 16/9;
            background-color: aliceblue
            
        }

        a {
            background-color: rgb(181, 112, 21);
            /* filter: invert(100%); */
            display: block;
            /* height: 15%; */
            padding: 3%;
            /* shadow, hover, border/outline, rounded edges */
            border-radius: 5px;
            box-shadow: 2px 2px 2px rgb(16, 159, 242);
            text-decoration: none;
            color: yellow ;
            font-family: cursive;
            font-weight: bold;
            text-align: center;
        }
        a:hover {
            background-color: rgb(72, 173, 231) ;
        }
    }
}

