
:root {
   
    --background-color: rgb(32, 81, 142);
    --textColour: white;
	color: var(--textColour);
     background-image: url(https://pbs.twimg.com/ext_tw_video_thumb/1568087722073509888/pu/img/yCtRQjdYq2Oh9GIm.jpg:large)
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    /* max-height: 100dvh; */
    /* overflow: hidden; */
} 

header {
    border-bottom: solid 2px bisque;
    background-color: rgba(106, 43, 189, 0.634);
	display: flex;
	justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 0);
}


footer {
    border-top: solid 2px bisque;
	background-color: rgba(106, 43, 189, 0.634);
	padding: 2%;
	text-align: center;
}

/* .moviecard {
}

main.movielist > .moviecard {
} */



main.movielist {
    margin: 2%;
    display: flex;
    gap: 2dvw;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    .moviecard {
        border: solid 1.5px bisque;
        border-radius: 1%;
        background-color: var(--background-color);
        width: 30%;
        padding: 0.4%;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        h2,h3,.movieRating {
            text-align: center;
            font-size: 5dvh;
            margin: 0 auto;
        }

        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            text-align: center;
        }
       
        img {
            border: solid 2px black;
            border-radius: 1%;
            width: 94%;
            aspect-ratio: 16/9;
            background-color: aliceblue
        }

        a {
            width: 80%;
           border: solid 2px bisque;
            background-color: rgb(181, 112, 21);
            /* filter: invert(100%); */
            display: block;
            /* height: 15%; */
            padding: 3.2%;
            /* shadow, hover, border/outline, rounded edges */
            border-radius: 5px;
            text-decoration: none;
            color: yellow ;
            font-family: cursive;
            font-weight: bold;
            text-align: center; 
        }
        a:hover {
            background-color: rgb(72, 173, 231) ;
        }
    }
}

@media screen and (max-width: 600px) {
    main.movielist {
        flex-direction: column;
        margin: 5%;
        gap: 4dvw;
        
       
        .moviecard {
            border: solid 2px bisque;
            border-radius: 1%;
            background-color: var(--background-color);
            width: 100%;
            padding: 0.7%;


            a {
               width: 70%;
            }
        }
    } 
}